<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2 Ver2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>



    <% if user_signed_in? %>
      <div class="container">

        <span class="navbar-brand">
        <%= link_to "Bookers", "https://ce878f0fc8cf46bebdf41868bf9f4780.vfs.cloud9.ap-northeast-1.amazonaws.com" %>
        </span>
      <ul>
        
        <li><%= link_to "Home", "/users" %></li>
        
        <li><%= link_to "Users", "/users" %></li>
        
        <li><%= link_to "Books", "/books" %></li>
        
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        
      </ul>

      </div>

    <% else %>
      <div class="container">

        <span class="navbar-brand">
        <%= link_to "Bookers", "https://ce878f0fc8cf46bebdf41868bf9f4780.vfs.cloud9.ap-northeast-1.amazonaws.com" %>
        </span>

      <ul>
        <li><%= link_to "Home", "https://ce878f0fc8cf46bebdf41868bf9f4780.vfs.cloud9.ap-northeast-1.amazonaws.com" %></li>
        
        <li><%= link_to "About", "homes/about" %></li>
        
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        
        <li><%= link_to "Log in", new_user_session_path %></li>
      </ul>

      </div>

    <% end %>

  </header>


  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>

    <%= yield %>
  </body>
</html>
