<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2 Ver2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      
     
      
    <% if user_signed_in? %>
      <div class="container">
        
        <span>
        <%= link_to "Bookers", "homes#top" %>
        </span>
        
        <%= link_to "Home", "homes#top" %>
        /
        <%= link_to "Users", "/users" %>
        /
        <%= link_to "Books", "/books" %>
        /
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        
      </div>
      
    <% else %>
      <div class="container">
        
        <span>
        <%= link_to "Bookers", "homes#top" %>
        </span>
        
        <%= link_to "Home", "top" %>
        /
        <%= link_to "About", "homes#about" %>
        /
        <%= link_to "Sign Up", new_user_registration_path %>
        /
        <%= link_to "Log in", new_user_session_path %>
        
      </div>
      
    <% end %>
    
  </header>
  
  
  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>
    
    <%= yield %>
  </body>
</html>
